.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.mycontainer{
  width: 80%;
  margin: 0 auto;
}

section{
  margin-top: 100px;
  margin-bottom: 100px;
}

.logo_pos{
  text-align: center;
}

.logo_size{
  width: 550px;
  box-sizing: border-box;
}

.invisible{
  color: white;
  margin: 0px;
  padding: 0px;
  font-size: 8px;
}

.tagline{
  margin: 0 auto;
  padding: 50px;
  /* color: #E84A87; */
  color: #390D6B;
  font-size: 30px;
  font-family: "Rubik", sans-serif;
  text-align: center;

}

.about-box{
  border: 1px solid;
  border-color: #E84A87;
  width: 350px;
  margin:0 auto;
  /* background-color: #E84A87; */

}

.title{
  font-size: 30px;
  font-family: "Rubik", sans-serif;
  text-align: center;
  padding: 10px;
  margin: 0;
  color:  #E84A87;


}

/* .mod_about{
  color: white;
} */

.text{
  font-size: 22px;
  text-align: center;
  padding: 40px;
  font-family: "Rubik", sans-serif;

}

.list{
  margin: 0 auto;
  text-align: center;
  font-size: 22px;
  font-family: "Rubik", sans-serif;
}

.topic{
  padding: 5px;

}

.main_style_border{
    height: 1rem;
    border-bottom: 1px solid;
    border-bottom-color: #E84A87;
    padding-bottom: 5px;
    margin-left: 100px;
    margin-right: 100px;

  }

.event_margin{
  margin-top: 40px;
  margin-bottom: 40px;

}

.event_container{
  margin: 0 auto;
  padding: 10px;

}

.event_pos{
  padding: 50px;
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 100px;
}

.event_size{
  max-width: 750px;
}

@media only screen and (max-width: 1650px){
.event_size{
    max-width: 800px;
  }
}

@media only screen and (max-width: 1300px){
.event_size{
    max-width: 750px;
  }
}

@media only screen and (max-width: 1024px){
.event_size{
    max-width: 600px;
  }
}

@media only screen and (max-width: 375px){
.event_size{
    max-width: 375px;
  }
}


@media only screen and (max-width: 414px){
.event_size{
    max-width: 414px;
  }
}



.my_signup_form{
  text-align: center;
  margin: 0 auto;
}

#mc_embed_signup{
  background:#fff;
  clear:left;
  font:22px Helvetica,Arial,sans-serif;
  width:250px;
}

.my-subscribe .button{
  background-color: #E84A87 !important;
  border-radius: 0.25;
}

.media_links{
  padding-top: 80px;
  /* padding-right: 35px; */
  padding-bottom: 0px;
}

.media_link{
  padding: 5px;
  max-height: 70px;
}



textarea{
  height: 9rem;
}


.copyright_center{
  text-align: center;

}
